body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}



header {
  background-color: #008080;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.container {
  background-color: #f2f2f2;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-align: end;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.addBookBtn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #008080;
  color: #fff;
  border: none;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.addBookBtn:active{
    background-color: #3e8e41;
    transform: translateY(1px);
}

#add-book-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#add-book-modal form {
  display: flex;
  flex-direction: column;
}

#add-book-modal label {
  margin-bottom: 10px;
}

#add-book-modal input {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

#add-book-modal button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.book-card {

  margin-top: 10px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.book-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.book-card p {
  font-size: 16px;
  margin: 5px 0;
}

.book-card button.delete {
  background-color: #f44336; /* Red */
  color: #fff;
  margin-bottom: 10px;
  width: 100px;
}

.book-card button.delete:hover {
  background-color: #d32f2f; /* Darker red */
}

.book-card button.read {
  background-color: #4caf50; /* Green */
  color: #fff;
}

.book-card button.read:hover {
  background-color: #388e3c; /* Darker green */
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
}




